.contact {
  display: flex;
}

.contact-part {
  margin:0px 40px 0px 40px;
}

.contact-item {
  width: 250px;
  margin:20px 0px 0px 0px;
  text-align: center;
}

.contact-icons {
  width : 60px;
}

.contact-icon-title{
  color:gray;
  font-size: 15px;
  font-weight: 800;
}

.contact-icon-detail{
  color:rgb(245, 102, 7);
  font-size: 15px;
  font-weight: 800;
}

.contact-icons-social {
  width: 40px;
}

@media (max-width:768px) {
  .contact {
    display: block;
  }
  .contact-item {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
  }
}
